body {
    background-color: black;
    color: yellow;
    padding: 0;
    overflow: hidden;
    text-align: center;
}


/*liste des tâches: 
trouver l'image du fond: ciel étoilé
trouver l'animation de défilement à appliquer au texte
trouver la font-family de star wars (première phrase puis titre et texte qui défilent) 
rendre la page responsive
ajouter une musique
*/